<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('信贷问责记录列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="type-form">
					<div class="select-list">
						<ul>
							<li>
								借据号：<input type="text" name="loadRctId"/>
							</li>
							<li>
								问责原因：<select name="accountabilityType" th:with="type=${@dict.getType('loan_accountability_type')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var addFlag = [[${@permission.hasPermi('credit:accountability:add')}]];
		var editFlag = [[${@permission.hasPermi('credit:accountability:edit')}]];
		var removeFlag = [[${@permission.hasPermi('credit:accountability:remove')}]];
		var prefix = ctx + "credit/accountability"

		$(function() {
			var options = {
				url: prefix + "/list",
				createUrl: prefix + "/add/{id}",
				updateUrl: prefix + "/edit/{id}",
				removeUrl: prefix + "/remove/{id}",
				modalName: "信贷问责记录",
				columns: [{
					field: 'selectItem',
					radio: true
				},
					{
						field: 'loadRctId',
						title: '拮据号',
						align: "left"
					},
					{
						field: 'accountabilityType',
						title: '问责原因',
						align: "center",
						formatter: function(value, item, index) {
							return $.table.selectDictLabel(datas, item.status);
						}
					},
					{
						field: 'remark',
						title: '备注',
						align: "center"
					},
					{
						field: 'accountabilityState',
						title: '问责状态',
						align: "center",
						formatter: function(value, item, index) {
							return $.table.selectDictLabel(datas, item.status);
						}
					},
					{
						field: 'createTime',
						title: '创建时间',
						align: "left"
					},
		        /*{
		            title: '操作',
		            align: 'center',
					sortable: true,
		            formatter: function(value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						actions.push('<a class="btn btn-info  btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.id + '\')"><i class="fa fa-plus"></i>新增</a> ');
						actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-trash"></i>删除</a>');
						return actions.join('');
		            }
		        }*/]
		    };
		    $.table.init(options);
		});
		/** 清理字典缓存 */
		function clearCache() {
			$.operate.get(prefix + "/clearCache");
		}
	</script>
</body>
</html>